<header class="site-header">
    <div class="hf-container">
        <div id="site-menu-icon"></div>
        <nav id="site-nav">
            <ul>
                {% assign ordered_menu = site.pages | sort: "order" %}
                {% for aPage in ordered_menu %}
                    {% if aPage.title %}
                        <li class="site-menu-item {% if aPage.url == page.url %}current-page{% endif %}"><a href="{{aPage.url}}">{{aPage.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>