.site-info-content {
    .about & {@include displayFlex;}

    blockquote.info-text {
        text-align: left;
    }

    .about &:nth-child(odd) {
        blockquote {
            right: -30%;
        }
        p{text-align: right;}
    }
    
    &:nth-child(even) {
        .info-img {
            right: 2%;
            left: initial;
        }
        p{text-align: left;}
    }
}