.site-info-content {

    blockquote.info-text {
        min-height: 100%;
        display: flex;
        align-items: center;
        text-align: left;
    }

    &:nth-child(odd) {
        blockquote {
            right: -30%;
            text-align: right;
        }
    }
    
    &:nth-child(even) {
        .info-img {
            right: 2%;
            left: initial;
        }
    }
}