.site-header, .site-footer {
    height: 85px;
    width: 100%;
    background-color: $primaryLightColor;
    box-shadow: 0px 0px 9px 3px $shadowColor, 0 0 25px 5px $insetShadowColor inset;
}

.hf-container {
    //width: 80%;
    max-width: $maxWidth;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .site-logo{
        display: flex;
        align-items: center;
        font-family: 'Amatic SC', cursive;
        text-shadow: /*0 0 1px $shadowColor, 0 0 25px 5px #a6b3bd inset, */2px 2px 2px $shadowColor;
    }
    .site-menu #menu-btn {
        display: none;
    }
    .site-menu label {
        display: none;
        font-size: 1.5em;
    }
    nav{

        ul {
            display: flex;
            justify-content: space-evenly;
        }

        a {
            text-decoration: none;
            height: 100%;
            padding: 0.2em 0.6em;
            border-radius: $borderRadius;
            font-weight: bold;
            font-style: italic;
        }

        a:hover, .current-page a{
            background-color: #bfdaef;
            color: $primaryLightColor;
            text-shadow: 0px 0px 3px $shadowColor;
            box-shadow: 0 0 3px 0 $shadowColor, -1px -1px 5px 1px $insetShadowColor inset;
        }
        .current-page a{
            font-style: normal;
            box-shadow: 0 0 3px 0 $shadowColor, 1px 1px 5px 1px $insetShadowColor inset;
        }
    }
}   


.site-footer {
    padding: 1em;
    p {
        margin: 0 auto;
    }
}