.site-header, .site-footer {
    @include headerFooterContainer;
    height: 85px;
}
/*Stiky header on scroll*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.site-footer {min-height: 150px;height: 100%;}

.hf-container {
    align-self: center;
    max-width: $maxWidth;
    height: 100%;
    margin: 0 auto;
    @include displayFlex;
    justify-content: space-between;
    

    .site-logo{
        @include displayFlex;
        text-shadow: 2px 2px 2px $shadowColor;
    }
    .site-menu #menu-btn {
        display: none;
    }
    .site-menu label {
        display: none;
        font-size: 1.5em;
    }
    nav{

        ul {
            @include displayFlex;
            justify-content: space-evenly;
        }

        a {
            text-decoration: none;
            height: 100%;
            padding: 0.2em 0.6em;
            border-radius: $borderRadius;
            font-weight: bold;
            font-style: italic;
        }

        a:hover, .current-page a{
            background-color: #bfdaef;
            color: $primaryLightColor;
            text-shadow: 0px 0px 3px $shadowColor;
            box-shadow: 0 0 3px 0 $shadowColor, -1px -1px 5px 1px $insetShadowColor inset;
        }
        .current-page a{
            font-style: normal;
            box-shadow: 0 0 3px 0 $shadowColor, 1px 1px 5px 1px $insetShadowColor inset;
        }
    }
}   


.site-footer {
    padding: 1em;
    h4{font-size: 1.3em;}
    .hf-container{flex-wrap: wrap;}
    
    ul li, h4 {
        text-align: left;
    }

    .block {
        padding:5px;
        height: 100%;
        width: 300px;
    }        
    .sm {
        font-size: 1.7em;
        margin: 0 3px;
    }
    .offers a {
        padding: 0.1em;
    }
    .offers a:hover {
        border-bottom: 1px solid $shadowColor;
        box-shadow: 1px 0 2px 0 $shadowColor;
    }
    hr{margin: 10px 0 5px;}
    
    p{font-size: .8em;align-self: flex-end;justify-self: flex-end;text-align: right;}
}

.loaded nav{
    li.home-page{
        @include navMainAnimationValues;
    }
    li.home-page:nth-child(1){animation-delay: 0.1s;}
    li.home-page:nth-child(2){animation-delay: 0.3s;}
    li.home-page:nth-child(3){animation-delay: 0.5s;}
    li.home-page:nth-child(4){animation-delay: 0.7s;}
    li.home-page:nth-child(5){animation-delay: 0.9s;}
}