.loaded .site-info-content {

    .home-img {
        top: 23% !important;
    }

    h2, h3, h3 q, h3 div {
        color: $primaryLightColor;
    }
    h2 {
        position: relative;
        font-size: 3em;
        grid-row: 1;
        z-index: 10;
        text-shadow: 0 0 6px $shadowColor;
    }
    h3.info-text {
        grid-row: 2;
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-rows: auto auto auto;
        gap: 1em 0;
        
        q{
            grid-column: 2;
            padding-top: 0.3em;
            position: relative;
        }
        div{
            grid-column: 2;
            grid-row: 3;
            text-align: right;
        }
        q:before, q:after {
            font-size: 2em;
        }
        q:before {
            content: "„";
            grid-column: 1;
        }
        q:after {
            content: "“";
            position: absolute;
            top: calc(100% - 25px);
            grid-column: 3;
            grid-row: 2;
            margin-top: -3%;
        }
    }
        
    &:nth-child(even) {
        .info-img {
            right: 9%;
            left: inherit;
        }
        h3{
            text-align: left;
            grid-column: 1/4;
        }
        h3 q:before {
            left: 10%;
        }
    }
    
    &:nth-child(odd) {
        h3 {
            right: -30%;
        }
        .info-img {
            animation: homeAboutTxtImg 1s ease-out forwards;
            animation-delay: 0.7s;
        }
    }
}