/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
    background-color: #e5eff1;

    .preloader-wrapper {
        // background-color: #e5eff1 !important;
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        z-index: 9999999;
        display: block;
        opacity: 1;
        
        .preloader {
            margin: 20vh auto 0;
            width: 50%;
        }
    }
}

body.loaded{
    .preloader-wrapper{
        opacity: 0;
        transition: opacity 2s ease-out;
        display: none;
        transition: display 0.5s ease-out 2s;
    } 
}