* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $shadowColor;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}
h1, h2, h3, h3 q, h3 div {
    font-family: 'Amatic SC', 'Buxton Sketch', 'Inc Free', cursive;
}