$maxWidth: 1024px;
$borderRadius: 0.2em 0.8em;

/*Site Colors*/
$primaryLightColor: #eef4f9;
$shadowColor: #1b1f23; /* + text color*/
$insetShadowColor: #a6b3bd;
$bgBlue: #92a7b9;
$bgOrange: #f1a57e;
$bgLight: #f7f4f3;
$discountColor: linear-gradient(135deg,#9ccc9c 0,green 75%);

@mixin infoArticleLayout {
    text-align: center;
    position: relative;
    width: 95%;
    min-height: 300px;
    max-width: $maxWidth;
    background-color: rgba($shadowColor,0.5);
    padding: 1em;
    border-radius: .5em 2.8em;
    margin: 2% 0;
}

@mixin infoImgs {
    max-width: 300px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    border-radius: 3px;
    opacity: .8;
    overflow: hidden;
}

@mixin infoTexts {
    width: 70%;
    position: relative;
    font-style: italic;
    text-shadow: 0 0 3px $shadowColor;
    background-color: rgba($bgBlue,0.5) ;
    padding: 1em;
    border-radius: .5em 2.8em;
    box-shadow: 3px 2px 6px 2px $shadowColor;
}

@mixin recordCards {
    position: relative;
    overflow: hidden;
    background-color: $primaryLightColor;
    box-shadow: 3px 2px 6px 2px $shadowColor;
    margin: 10px;
    padding: 1em;
    border-radius: $borderRadius;
    line-height: 20px;
}