@media only screen and (max-width: 1040px) {
    .hf-container{
        justify-content: center;

        .site-logo {
            margin: 0 2.5em 0 0;
        }
    }
}

@media only screen and (max-width: 960px) {
    .site-page-container.contacts article.site-info-content {
        display: block;
        .info-text{
            margin: 1em auto;
        }
        .map{
            width: 95%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hf-container  {
        .site-nav {
            display:none;
        }     

        .site-menu label {
            position: relative;
            display: flex;
            align-content: center;
            width: 100%;
        }

        .site-menu label:after {
            position: absolute;
            content: "";
        }
        
        .site-menu input:checked ~ nav {
            position: absolute;
            width: 100%;
            top: 85px;
            left: 0;
            display: block;
            background-color: #eef4f9;
            box-shadow: 0 3px 3px 0 #1b1f23, 0 0 25px 5px #a6b3bd inset;
            z-index: 777;
            
            ul li {
                position: relative;
                z-index: 777;
            }
            ul, ul li a {
                display: block;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    section.site-page-container{padding: 1em;}
    .about, .home {
        .info-text {
            width: 100%;
        }
        .site-info-content .info-img,
        .site-info-content:nth-child(even) .info-img {
            width:80%;
            top: 10%;
            left: 0;
            right: 0;
            margin: auto;
        }
        .site-info-content .home-img,
        article:nth-child(even) .home-img {
            top: 2% !important;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        .site-info-content .info-text, :not(h3), :not(h2) {
            right: 0;
            width: 100%;
            text-align: justify;
        }
        h2 {text-align: center;}
    }
}

@media only screen and (max-width: 480px) {
    .site-page-container.contacts .contact-info {
        grid-template-areas: "ico ico ico" "txt txt txt"
                             "contact1 contact1 contact1"
                             "contact2 contact2 contact2"
                             "contact3 contact3 contact3";
        grid-template-rows: 50px auto auto auto auto;
        &:nth-child(4) i{grid-row: 1;}
    }
}

@media only screen and (max-width: 540px) {
    .site-page-container {
        .site-info-content {
            grid-template-rows: 0 135px;
        }
        .site-info-content h3  {
            width: 100%;
            grid-column: 1/5;

        }
        .record-card {
            a {grid-template-rows: 10em auto;}
            img {height: 10em;}
        }
    }
}

@media only screen and (max-width: 380px) {
    .site-header {padding:1em;}
    .site-page-container.vacations {
        .record-card {
            a {grid-template-rows: 10em auto;}
        }
    }
    .site-page-container.contacts .contact-info:nth-child(4) .hours:nth-of-type(1) {   
        width: 180px;
        margin: 0 auto;
    }
}