@media only screen and (max-width: 1040px) {
    .hf-container{
        justify-content: center;

        .site-logo {
            margin: 0 2.5em 0 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .site-nav {
        display:none;
    }
}

@media only screen and (max-width: 380px) {
    .site-page-container.excursions {
        .record-card {
            a {grid-template-rows: 10em 10em;}
            img {height: 10em;}
        }
    }
}