@import "_variables.scss";
@import "_reset.scss";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
@import "_header-footer-styles.scss";
@import 'responsive.scss';

/*Main site styles*/
.site {
    background: rgba($bgOrange,0.3);
    background-image: url("https://images.unsplash.com/photo-1571993192866-202f70b7ec7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
    background: linear-gradient(45deg, rgba($bgBlue,0.3) 15%,rgba($bgOrange,0.3) 50%,rgba($bgLight,0.3) 85%),  url("https://images.unsplash.com/photo-1571993192866-202f70b7ec7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80") no-repeat center;
    background-size: cover;   
    font-family: 'Kurale', serif;
    font-size: 1.1em;
    line-height: 18px;
    
    &-main{
        min-height: calc(100vh - 170px);
        width: 100%;
    }
    
    /*Content pages styles*/
    &-page-container {
        max-width: $maxWidth;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2em 0;

        .record-card {
            width: 321px;
            position: relative;
            overflow: hidden;
            background-color: $primaryLightColor;
            box-shadow: 3px 2px 6px 2px $shadowColor;
            margin: 10px;
            padding: 1em 1em 0.5em;
            border-radius: $borderRadius;
        }
        
        a {
            display: grid;
            grid-template-rows: 12em 5em;
        }
        img {
            height: 12em;
            border-radius:  $borderRadius;
            border: 1px solid $bgBlue;
        }
        
        .vacation-short-info {
            display: grid;
            grid-template-areas:"heading1 heading1"
                                "heading2 heading2"
                                "price dates";
            text-align: center;
            align-items: center;
            grid-template-rows: 1.5em 1.5em 2em;

            h3{grid-area: heading1;}
            h4{grid-area: heading2;}
            span.price{
                grid-area: price;
                font-size: 1.8em;
                font-weight: bold;
                justify-self: right;
                color: $bgOrange;
                text-shadow: 0px 0px 1px $shadowColor;
            }
            span.dates{
                grid-area: dates;
                align-self: end;
                justify-self: right;
                font-size: 0.8em;
            }
        }

        .discount {
            position: absolute;
            background: $discountColor;
            color: $primaryLightColor;
            text-align: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 16px 0;
            top: 8%;
            right: 2%;
            text-shadow: 1px 1px 1px $shadowColor;
            box-shadow: 2px 2px 3px $shadowColor;
        }

        &.excursions {
            .record-card {
                width: 400px;
            }
            a{
                grid-template-rows: 12em 7em;
            }
            .vacation-short-info {
                grid-template-rows: 2em 2em 3em;
            }
        }
    }
}
