@import "_variables.scss";
@import "_reset.scss";
@import "_preloader.scss";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
@import "_header-footer-styles.scss";
@import "_home-style.scss";
@import "_about-styles.scss";
@import "_contacts-styles.scss";
@import "_content-pages-styles.scss";
@import "_animations.scss";

/*Main site styles*/
.site {
    background: rgba($bgOrange,0.3);
    background-image: url("https://images.unsplash.com/photo-1571993192866-202f70b7ec7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=40");
    background: linear-gradient(45deg, rgba($bgBlue,0.3) 15%,rgba($bgOrange,0.3) 50%,rgba($bgLight,0.3) 85%),  url("https://images.unsplash.com/photo-1571993192866-202f70b7ec7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=40") no-repeat center;
    background-size: cover;   
    font-family: 'Kurale', 'Georgia', serif;
    font-size: 1.1em;
    
    &-main{
        min-height: calc(100vh - 275px);
        width: 100%;
    }
    /*Content pages styles*/
    &-page-container {
        max-width: $maxWidth;
        margin: 0 auto;
        @include displayFlex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1.8em 0;
    }
    /*Home, About, Contacts styles*/
    &-info-content {
        @include infoArticleLayout;    
        opacity: 0;    

        .info-text {
            @include infoTexts;
        }
        .info-img {
            @include infoImgs;
        }

        div.info-text {
            @include displayFlex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
    
            h3 {
                font-size: 1.7em;    
            }
        }
    }
    /*404 page style*/
    .fof {
        .info-text {height: 100%;}
    }
}

.info-text {
    p, a, i, span{
        color: white;
        text-shadow: 0 0 2px #000;
    }
}
/*Home, ABout and contacts animations after page load*/
.loaded .site-info-content { 
    animation : homeAboutBG 1s linear forwards;
    animation-delay: 1.3s;

    .info-text {
        transform: translateX(-1000px);
        animation: homeAboutTxtImg 1s ease-out forwards;
        animation-delay: 1.3s;
    }
    .info-img {
        transform: translateX(1000px);
        animation: homeAboutTxtImg 1s ease-out forwards;
    }
    &:nth-child(even) {
        .info-text {
            transform: translateX(1000px);
            animation: homeAboutTxtImg 1s ease-out forwards;
            animation-delay: 1.3s;
        }
        .info-img {
            transform: translateX(-1000px);
            animation: homeAboutTxtImg 1s ease-out forwards;
            animation-delay: 1.3s;}
    }
}

.loaded {
    .about .site-info-content,
    .contacts .site-info-content { 
        animation-delay: 0s;
    
        .info-text, .info-img {
            animation-delay: 0s;
        }
    }
}

/*Social media links*/
.fb:hover i {
    color: #3b5998;

}
.tr:hover i {
    color: #0084b4;

}
.fr:hover i {
    color: #ff0084;

}