<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <!-- <link rel="stylesheet" href="{{site.baseurl}}/css/fa/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/fa/css/solid.min.css"> -->
    <link rel="icon" href="{{site.baseurl}}/favicon.png">
    <title>{{site.title}}{% if page.title != "Home" %} | {{page.title}} {% endif %}</title>
</head>
<body class="site">
    {% include header.html %}
    <main class="site-main">
        {{content}}
    </main>
    {% include footer.html %}
    
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
</body>
</html>