---
layout: main
---
<section class="site-page-container record-single-details">
    <article class="record-card">
        <div class="img-discount-container">
            {% if page.discount > 0 %}
                <span class="discount">-{{page.discount}}%</span>
            {% endif %}
            <img src="{{page.img}}">
        </div>
        <div class="vacation-short-info">
            <h3>{{page.title}} - {{page.destination}}</h3>
            <p>Цена: <span class="price">{{page.price}} лв.</span></p>
            <span class="dates">
                {% if page.vac_type == "excursion" %}
                    Дати:
                {% else %}
                    от
                {% endif %} 
                {{page.date_start}}
                {% if page.vac_type != "excursion" %}
                     до {{page.date_end}}
                {% endif %}
            </span>
            
            <span class="description">
                {% if page.description %}
                    {{page.description}}
                {% else %}
                    {{page.content}}
                {% endif %}
            </span>

            {% if page.vac_type == "vacation" %}
                <span class="types">
                    Варианти:
                    <ul>
                        {% for aType in page.types %}
                            <li>{{aType}}</li>
                        {% endfor %}
                    </ul> 
                </span>
                <span class="meal">Храна: {{page.meal}}</span>
            {% endif %}
        </div> 
    </article>
</section>